<?xml version="1.0" encoding="UTF-8"?>
<root>
	<styleSheets>
		<styleSheet><![CDATA[css/flashstyles.css?v=3]]></styleSheet>
	</styleSheets>
	
	<fonts>
		<font><![CDATA[swf/fonts/fonts.swf?v=3]]></font>
	</fonts>
	
	<labels>
		<file><![CDATA[xml/labels_{v_lang}.xml?v=4]]></file>
	</labels>
	
	<vars>
		<var code="minReportModerated">5</var>
		<var code="langs">
			<lang id="fr"><![CDATA[FR]]></lang>
			<lang id="en"><![CDATA[EN]]></lang>
			<lang id="es"><![CDATA[ES]]></lang>
			<lang id="de"><![CDATA[DE]]></lang>
		</var>
		<var code="worlds">
			<world id="0" icon="com.muxxu.fever.graphics.Enemy1Graphic"><![CDATA[world1]]></world>
			<world id="1" icon="com.muxxu.fever.graphics.Enemy11Graphic"><![CDATA[world2]]></world>
		</var>
		<var code="menus">
			<menu content="com.muxxu.fever.fevermap.components.menu.nav.MenuNavigation" icon="com.muxxu.fever.graphics.Item15Graphic"><![CDATA[menu1]]></menu>
			<menu content="com.muxxu.fever.fevermap.components.menu.filters.MenuFilters" icon="com.muxxu.fever.graphics.Item30Graphic"><![CDATA[menu2]]></menu>
			<menu content="com.muxxu.fever.fevermap.components.menu.search.MenuSearch" icon="com.muxxu.fever.graphics.Item22Graphic"><![CDATA[menu3]]></menu>
			<menu content="com.muxxu.fever.fevermap.components.menu.tracker.MenuTracker" icon="com.muxxu.fever.graphics.Item24Graphic"><![CDATA[menu4]]></menu>
			<menu content="com.muxxu.fever.fevermap.components.menu.message.MenuMessage" icon="com.muxxu.fever.graphics.Item14Graphic"><![CDATA[menu5]]></menu>
			<menu content="com.muxxu.fever.fevermap.components.menu.zoom.MenuZoom" icon="com.muxxu.fever.graphics.Item16Graphic"><![CDATA[menu6]]></menu>
			<menu content="com.muxxu.fever.fevermap.components.menu.world.WorldSelector" icon="com.muxxu.fever.graphics.RainbowGraphic"><![CDATA[menu9]]></menu>
			<menu content="com.muxxu.fever.fevermap.components.menu.l10n.MenuLangSelector" icon="com.muxxu.fever.graphics.WorldMapGraphic"></menu>
			<menu content="com.muxxu.fever.fevermap.components.menu.help.MenuHelp" icon="com.muxxu.fever.graphics.Item37Graphic"><![CDATA[menu7]]></menu>
			<menu icon="com.muxxu.fever.graphics.Item7Graphic" special="logout"><![CDATA[menu8]]></menu>
		</var>
	</vars>
	
	<paths>
		<path code="shareIsland"><![CDATA[http://fevermap.org/?x=${X}&y=${Y}&zoom=${ZOOM}]]></path>
		<path code="feedbackUrl"><![CDATA[http://fevermap.idea.informer.com/]]></path>
		<path code="profileURL"><![CDATA[http://muxxu.com/user/${UID}]]></path>
		<path code="reportMessage"><![CDATA[${server}ws/reportMessage?SESSID={v_SESSID}]]></path>
		<path code="login"><![CDATA[${server}ws/login.php]]></path>
		<path code="addArea"><![CDATA[${server}ws/addArea.php?SESSID={v_SESSID}]]></path>
		<path code="loadArea"><![CDATA[${server}ws/loadArea.php?SESSID={v_SESSID}]]></path>
		<path code="getRevisions"><![CDATA[${server}ws/getRevisions.php?SESSID={v_SESSID}]]></path>
		<path code="setPosition"><![CDATA[${server}ws/setPosition.php?SESSID={v_SESSID}]]></path>
		<path code="uploadData"><![CDATA[${server}ws/uploadData.php?SESSID={v_SESSID}]]></path>
		<path code="downloadData"><![CDATA[${server}ws/downloadData.php?SESSID={v_SESSID}]]></path>
		<path code="addMessage"><![CDATA[${server}ws/addMessage.php?SESSID={v_SESSID}]]></path>
		<path code="getMessages"><![CDATA[${server}ws/getMessages.php?SESSID={v_SESSID}]]></path>
		<path code="getUsersOn"><![CDATA[${server}ws/getUsersOn.php?SESSID={v_SESSID}]]></path>
		<path code="getToken"><![CDATA[${server}ws/getToken.php?SESSID={v_SESSID}]]></path>
		<path code="changeLang"><![CDATA[?act=lang_${CODE}]]></path>
		<path code="serverOnline"><![CDATA[http://fevermap.org/]]></path>
		<path code="serverOffline"><![CDATA[http://localhost/muxxu/fever/apps/fevermap/]]></path>
	</paths>
	
	<dependencies />
	
</root>